Node-RED/flows.json
[
    {
        "id": "15aacc0f70f98535",
        "type": "tab",
        "label": "NodeRed_PracticalAssignment2526_MoronAlexandra_QuintanaLuisJose",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "05e05784143f63d1",
        "type": "http request",
        "z": "15aacc0f70f98535",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "localhost:8484/Sonobuoys/updateSonobuoys",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 510,
        "y": 220,
        "wires": [
            [
                "069c0a331e1e3db8"
            ]
        ]
    },
    {
        "id": "069c0a331e1e3db8",
        "type": "debug",
        "z": "15aacc0f70f98535",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 220,
        "wires": []
    },
    {
        "id": "376f7049bd91b499",
        "type": "mqtt in",
        "z": "15aacc0f70f98535",
        "name": "",
        "topic": "/IoDADirect/JamesWatt",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "72b9ccec460bb788",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 220,
        "wires": [
            [
                "05e05784143f63d1"
            ]
        ]
    },
    {
        "id": "72b9ccec460bb788",
        "type": "mqtt-broker",
        "name": "Broker MQTT COOL",
        "broker": "broker.mqtt.cool",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]