Node-RED/flows.json
[
  {
    "id": "15aacc0f70f98535",
    "type": "tab",
    "label": "NodeRed_PracticalAssignment2526_MoronAlexandra_QuintanaLuisJose",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "9f319e1d5b27f560",
    "type": "debug",
    "z": "15aacc0f70f98535",
    "name": "debug 5",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 360,
    "wires": []
  },
  {
    "id": "05e05784143f63d1",
    "type": "http request",
    "z": "15aacc0f70f98535",
    "name": "/updateSonobuoys",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "localhost:8484/Sonobuoys/updateSonobuoys",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [
      {
        "keyType": "Content-Type",
        "keyValue": "",
        "valueType": "application/json",
        "valueValue": ""
      }
    ],
    "x": 670,
    "y": 220,
    "wires": [
      [
        "069c0a331e1e3db8"
      ]
    ]
  },
  {
    "id": "069c0a331e1e3db8",
    "type": "debug",
    "z": "15aacc0f70f98535",
    "name": "debug 7",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 220,
    "wires": []
  },
  {
    "id": "376f7049bd91b499",
    "type": "mqtt in",
    "z": "15aacc0f70f98535",
    "name": "",
    "topic": "/IoDADirect/JamesWatt",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "72b9ccec460bb788",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 240,
    "y": 220,
    "wires": [
      [
        "05e05784143f63d1",
        "9d24507c62394298"
      ]
    ]
  },
  {
    "id": "9d24507c62394298",
    "type": "function",
    "z": "15aacc0f70f98535",
    "name": "detectorStatus",
    "func": "let id = msg.payload.id;\nlet spl = msg.payload.spl_db;\nlet snr = msg.payload.snr_db;\n\nlet splState = \"OK\";\nlet snrState = \"OK\";\nlet finalState = \"OK\";\n\n\nif (spl < 120) {\n    splState = \"OK\";\n} else if (spl >= 120 && spl <= 140) {\n    splState = \"WARNING\";\n} else {\n    splState = \"ALERT\";\n}\n\n\nif (snr > 20) {\n    snrState = \"OK\";\n} else if (snr >= 10 && snr <= 20) {\n    snrState = \"WARNING\";\n} else {\n    snrState = \"ALERT\";\n}\n\n// estado final\nif (splState === \"ALERT\" || snrState === \"ALERT\") {\n    finalState = \"ALERT\";\n} else if (splState === \"WARNING\" || snrState === \"WARNING\") {\n    finalState = \"WARNING\";\n} else {\n    finalState = \"OK\";\n}\n\n//el nuevo payload\nmsg.payload = {\n    id: id,\n    status: finalState\n};\n\n//para el json post\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 360,
    "wires": [
      [
        "e3463383ef91ee97"
      ]
    ]
  },
  {
    "id": "e3463383ef91ee97",
    "type": "http request",
    "z": "15aacc0f70f98535",
    "name": "/updateStatus",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "localhost:8484/Sonobuoys/updateStatus",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [
      {
        "keyType": "Content-Type",
        "keyValue": "",
        "valueType": "application/json",
        "valueValue": ""
      }
    ],
    "x": 660,
    "y": 360,
    "wires": [
      [
        "9f319e1d5b27f560"
      ]
    ]
  },
  {
    "id": "72b9ccec460bb788",
    "type": "mqtt-broker",
    "name": "Broker MQTT COOL",
    "broker": "broker.mqtt.cool",
    "port": 1883,
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  }
]